alias e='emacs -nw'
alias gf='git flow'
alias gff='git flow feature'
alias gst='git status'
alias ga='git add'
alias emacs='emacsclient -ct -a ""'
alias vi='nvim'
alias vim='nvim'
alias -g G='| rg '
alias -g GR='-t ruby'
alias -g GRU='-t rust'
alias -g GH='-t haskell'
alias -g GL='-l'
alias -g S='sudo --preserve-env'
alias -g E='2>&1'
alias -g C='| wc -l'
