alias e='emacs -nw'
alias c='clear'
alias gf='git flow'
alias gff='git flow feature'
alias gst='git status'
alias ga='git add'
alias emacs='emacsclient -ct -a ""'
alias vi='nvim'
alias vim='nvim'
alias sudo='sudo --preserve-env'
alias -g G='| rg '
alias -g R='-t ruby'
alias -g RU='-t rust'
alias -g H='-t haskell'
alias -g L='-l'
alias -g E='2>&1'
alias -g C='| wc -l'
